


<div>
<nav class="navbar navbar-default navbar-fixed-top" id="navigation">
  <div class="container">
      <div class="row">
        <div class="col-xs-1">
            <span *ngIf="!loggedin" class="glyphicon glyphicon-align-justify" id="sidebarspan" onclick="openNav()" aria-hidden="true"></span>
        </div>
        <div class="col-xs-2 col-xs-offset-4 text-center"><img src="../assets/AKGEC.svg" class="img-responsive" id="logo"></div>
        <div class="col-xs-4 col-xs-offset-1" id="mediatrigger">
        <a href="http://www.akgec-scrolls.com/api/public/api/downloadsynopsis" data-toggle="tooltip" data-placement="bottom" title="Sample Synopsis"><span class="glyphicon glyphicon-save-file" id="synopsis_span" aria-hidden="true"></span></a>
        <a *ngIf="!loggedin" class="btn btn-default" data-toggle="modal" data-target="#loginmodal" id="navbtn" role="button"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>LOGIN</a> 
        <a *ngIf="!loggedin" class="btn btn-default" data-toggle="modal" data-target="#registermodal" id="navbtn" ><span class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>REGISTER</a>
        <a (click)="logOut()" *ngIf="loggedin" class="btn btn-default" id="navbtn" data-toggle="modal" data-target="#loadermodal">LOGOUT <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
        </div>
      </div>
  </div>
</nav>

<div id="mailusmodal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin: 10% auto !important;">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
        <h2 class="text-center">Got a Query?</h2>
        <h3 class="text-center">Mail us at: <a href="mailto:akgecscrolls17@gmail.com" style="color: #fff">akgecscrolls17@gmail.com</a></h3>
      </div>

    </div>
  </div>
</div>


<!-- REGISTRATION MODAL -->
<div id="registermodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
      <div class="row" style="margin: 0;">
        <div class="col-md-6" id="modalside">

        <span id="modalheading" class="text-center">REGISTRATION</span>
        <img src="./assets/modalbg.svg" class="img-responsive" style="height: 85%; display: block; margin: 0 auto;">

        </div>
        <div class="col-md-6" id="modalform">
        <button type="button" class="close" data-dismiss="modal" style="color: #FED766; opacity: 1; text-shadow: none;">&times;</button>
          <form [formGroup]="regForm">
          <div *ngIf="showcontrol[0]">
          <span id="formheading" class="text-center" @load>ENTER TEAM DETAILS</span>
            <div class="form-group" [@visibilityChanged]>
              <label for="teamname">Team Name:</label>
              <label class="validations" @load *ngIf="!regForm.get('team_name').valid && regForm.get('team_name').touched" >Please Enter a Valid Team Name!</label>
              <input type="text" class="form-control" formControlName="team_name" id="teamname" required placeholder="Enter Your Team Name">
            </div>
            <div class="form-group" [@visibilityChanged]>
            <label for="noofmembers">Select No. of Members:</label>
              <label class="validations" @load style="font-size: 0.8em;" *ngIf="!regForm.get('noofmembers').valid && regForm.get('noofmembers').touched">Please Select an Option!</label>
              <ul>
              <li>
                <input type="radio" id="2mem" formControlName="noofmembers" name="noofmembers" value="2" required (click)="initMember(2)">
                <label for="2mem">2 Members</label>
                <div class="check"></div>
              </li>
              <li>
                <input type="radio" id="3mem" formControlName="noofmembers" name="noofmembers" value="3" required (click)="initMember(3)">
                <label for="3mem">3 Members</label>
                <div class="check"></div>
              </li>
            </ul>
            </div>
            <div class="form-group" [@visibilityChanged]>
              <label for="domain">Domain:</label>
              <label class="validations" @load *ngIf="!regForm.get('domain_id').valid && regForm.get('domain_id').touched">Please Select a Domain!</label>
              <select class="form-control" id="domain" required placeholder="Select Domain" formControlName="domain_id" (change)="getTopics()">
                <option *ngFor="let domain of APIdomains" [value]="domain.id">{{domain.domain_name}}</option>
              </select>
            </div>
            <div class="form-group" [@visibilityChanged]>
              <label for="teamtopic">Topic:</label>
              <label class="validations" @load *ngIf="!regForm.get('topic_id').valid && regForm.get('topic_id').touched">Please Select a Topic!</label>
              <select class="form-control" id="teamtopic" required placeholder="Select Topic" formControlName="topic_id">
                <option *ngFor="let topic of APItitles" [value]="topic.id">{{topic.topic_name}}</option>
              </select>
            </div>

            <div class="form-group" [@visibilityChanged]>
              <label for="password">Password:</label>
              <label class="validations" @load *ngIf="!regForm.get('password').valid && regForm.get('password').touched">Please Enter a Valid Password!</label>
              <input type="password" class="form-control" id="password" minlength="6" required placeholder="Enter Password of 6 or more characters" formControlName="password">
            </div>
            <div class="form-group" [@visibilityChanged]>
              <label for="password">Confirm Password:</label>
              <label class="validations" @load *ngIf="(!(regForm.get('password').value == regForm.get('password_confirmation').value)) && regForm.get('password_confirmation').touched">Passwords do not Match!</label>
              <input type="password" class="form-control" id="password" 
              [ngClass]="{pwd_mismatch : !(regForm.get('password').value === regForm.get('password_confirmation').value) && regForm.get('password_confirmation').touched}" required placeholder="Re-Enter Your Team Password" formControlName="password_confirmation">
            </div>
          </div>

        <div formArrayName="members" >
            <div *ngFor="let memberCtrl of regForm.get('members')['controls'];  let i = index"  [formGroupName]="i" >
                <div *ngIf="showcontrol[i+1]" id="member{{i+1}}">
                <span *ngIf="i==1 || i==2 " id="formheading" class="text-center" @load>ENTER MEMBER {{i+1}} DETAILS</span>
                <span *ngIf="i==0" id="formheading" class="text-center" @load>ENTER TEAMLEADER DETAILS</span>
                <div class="form-group" [@visibilityChanged]>
                  <label for="name">Name:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.name.valid && regForm.controls.members.controls[i].controls.name.touched">Please Enter a Valid Name!</label>
                  <input type="text" class="form-control" id="name" pattern="[a-zA-Z ]*" required placeholder="Enter Your Name" formControlName="name">
                </div>
                <div class="form-group" [@visibilityChanged]>
                  <label for="email">Email address:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.email.valid && regForm.controls.members.controls[i].controls.email.touched">{{ emailerror }}</label>
                  <input type="email" class="form-control" id="email" required maxlength="40" placeholder="Enter Your Email" email formControlName="email">
                </div>
                <div class="form-group" [@visibilityChanged]>
                  <label for="course" >Course:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.course.valid && regForm.controls.members.controls[i].controls.course.touched">Please Select a Course!</label>
                  <select class="form-control" id="course" required placeholder="Select Course" formControlName="course">
                    <option *ngFor="let course of courses" [value]="course">{{course}}</option>
                  </select>
                </div>
                <div class="form-group" [@visibilityChanged]>
                  <label for="year">Year:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.year.valid && regForm.controls.members.controls[i].controls.year.touched">Please Select an Year!</label>
                  <select class="form-control" id="year" required [ngSwitch]="regForm.controls.members.controls[i].controls.course.value" placeholder="Select Year" formControlName="year">
                    <option>1</option>
                    <option>2</option>
                    <option *ngSwitchCase="'MCA'">3</option>
                    <option *ngSwitchCase="'B. Tech'">3</option>
                    <option *ngSwitchCase="'B. Sc'">3</option>
                    <option *ngSwitchCase="'B. Tech'">4</option>
                  </select>
                </div>
                <div class="form-group" [@visibilityChanged]>
                  <label for="college">College:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.college_name.valid && regForm.controls.members.controls[i].controls.college_name.touched">Please Select a College!</label>
                  <select class="form-control" id="college" required placeholder="Select College" formControlName="college_name"> 
                    <option value="akg">Ajay Kumar Garg Engineering College</option>
                    <option value="other">Others- Please Specify Below</option>
                  </select>
                </div>
                <div class="form-group" [@visibilityChanged] *ngIf="regForm.controls.members.controls[i].controls.college_name.value === 'other'">
                  <label for="cname">Enter College Name:</label>
                  <label class="validations" @load *ngIf="!regForm.controls.members.controls[i].controls.college_name.valid && regForm.controls.members.controls[i].controls.college_name.touched">Please Enter a College Name!</label>
                  <input type="text" class="form-control" id="cname" placeholder="Enter Your College Name"  formControlName="college_name_entry">
                </div>
                <div class="form-group" [@visibilityChanged] *ngIf="regForm.controls.members.controls[i].controls.college_name.value === 'akg'">
                  <label for="studno">Student Number:</label>
                  <label class="validations" @load style="font-size: 0.8em;" *ngIf="!regForm.controls.members.controls[i].controls.student_no.valid && regForm.controls.members.controls[i].controls.student_no.touched">{{ studenterror }}</label>
                  <input type="text" class="form-control" id="studno" placeholder="Enter Your Student Number" formControlName="student_no">
                </div>
                <div class="form-group" [@visibilityChanged]>
                  <label for="mobile">Mobile Number:</label>
                  <label class="validations" @load style="font-size: 0.8em;" *ngIf="!regForm.controls.members.controls[i].controls.contact_no.valid && regForm.controls.members.controls[i].controls.contact_no.touched">Please Enter a Valid Mobile Number!</label>
                  <input type="number" class="form-control" id="mobile" pattern="^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$" required placeholder="Enter Your Mobile Number" formControlName="contact_no">
                </div>
                <div class="form-group" [@visibilityChanged]>
                <label for="accomodation">Need Accomodation?</label>
                  <label class="validations" @load style="font-size: 0.8em;" *ngIf="!regForm.controls.members.controls[i].controls.accomodation.valid && regForm.controls.members.controls[i].controls.accomodation.touched">Please Select an Option!</label>
                  <ul>
                  <li>
                    <input type="radio" id="ac1" name="accomodation" value="1" required formControlName="accomodation">
                    <label for="ac1">Yes</label>
                    <div class="check"></div>
                  </li>
                  <li>
                    <input type="radio" id="ac2" name="accomodation" value="0" required formControlName="accomodation">
                    <label for="ac2">No</label>
                    <div class="check"></div>
                  </li>
                </ul>
                </div>
          </div>
          </div>
        </div>
        <button type="button" class="btn" (click)="previous()" [disabled]="showcontrol[0]" id="backbtn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>BACK</button>
        <button type="button" class="btn" (click)="next()" [disabled]="!nextChecker()" id="nextbtn">NEXT<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>

        <button class="btn" type="submit" (click)="onSubmit()" [disabled]="!regForm.valid" data-dismiss="modal" data-toggle="modal" data-target="#loadermodal">SUBMIT</button>

        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- LOGIN MODAL -->
<div id="loginmodal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="margin: 10% auto !important;">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
      <div class="row" style="margin: 0;">
        <div class="col-md-6" id="modalside">
        <span id="modalheading" class="text-center">LOGIN</span>
        <img src="./assets/modalbg.svg" class="img-responsive" style="height: 85%; display: block; margin: 0 auto;">
        </div>

        <div class="col-md-6" id="modalform">
        <button type="button" class="close" data-dismiss="modal" style="color: #FED766; opacity: 1; text-shadow: none;">&times;</button>
          <form #loginform="ngForm">
          <span id="formheading" class="text-center">ENTER LOGIN CREDENTIALS</span>
            <div class="form-group">
              <label for="scrollsid">Team ID:</label>
              <label class="validations" @load *ngIf="!scrollsid.valid && scrollsid.touched">Please Enter a Valid Team ID!</label>
              <input type="text" class="form-control" id="scrollsid" ngModel #scrollsid="ngModel" name="teamid" required placeholder="Enter Your Scrolls ID">
            </div>

            <div class="form-group">
              <label for="loginpassword">Password:</label>
              <label class="validations" @load *ngIf="!loginpassword.valid && loginpassword.touched">Please Enter a Valid Password!</label>
              <input type="password" class="form-control" id="loginpassword" ngModel #loginpassword="ngModel" name="password" minlength="6" required placeholder="Enter Your Password">
            </div>
          <button class="btn" type="submit" (click)="onLogin(loginform)" [disabled]="!loginform.valid" data-dismiss="modal"  data-toggle="modal" data-target="#loadermodal" >LOGIN</button>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- LOADER MODAL -->
<div id="loadermodal" class="modal fade" role="dialog" #modalcloser>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <img src="../assets/landingbulb.svg" class="img-responsive" id="loaderbulb">
      <h1 id="loading">PLEASE WAIT..</h1>
        </div>
      </div>
        
      </div>

    </div>

<!-- SUCCESS MODAL -->

<div id="successmodal" class="modal fade" role="dialog" #successmodal>
  <div class="modal-dialog modal-lg" style="margin: 10% auto !important;">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
      <div class="row" style="margin: 0;">
        <div class="col-md-6" id="modalside" style="background-color: #2ecc71;">

        <span id="modalheading" class="text-center">SUCCESS!</span>
        <img src="./assets/modalbg.svg" class="img-responsive" style="height: 85%; display: block; margin: 0 auto;">

        </div>
        <div class="col-md-6" id="modalform">
        <button type="button" class="close" data-dismiss="modal" style="color: #2ecc71; opacity: 1; text-shadow: none;">&times;</button>

        <h1 id="successmsg1">You have Successfully Registered for SCROLLS 2017!</h1>
        <h1 id="successmsg2">Your TEAM ID is <b>{{ teamid }}.</b> Remember your id for future reference.</h1>
        <h1 id="successmsg2">An email has been sent to Teamleader!</h1>

        </div>
      </div>
        
      </div>

    </div>
  </div>
</div>

<!-- ERROR MODAL -->

<div id="errormodal" class="modal fade" role="dialog"  #errormodal>
  <div class="modal-dialog modal-lg" style="margin: 10% auto !important;">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
      <div class="row" style="margin: 0;">
        <div class="col-md-6" id="modalside" style="background-color: #e74c3c;">

        <span id="modalheading" class="text-center">ERROR!</span>
        <img src="./assets/modalbg.svg" class="img-responsive" style="height: 85%; display: block; margin: 0 auto;">

        </div>
        <div class="col-md-6" id="modalform">
        <button type="button" class="close" data-dismiss="modal" style="color: #e74c3c; opacity: 1; text-shadow: none;">&times;</button>

        <h1 id="successmsg1">Whoops, An error occured!</h1>
        <h1 id="successmsg2">{{errormsg}}</h1>

        </div>
      </div>
        
      </div>

    </div>
  </div>
</div>

    <div id="mySidenav" class="sidenav">
      <div id="parallaxsidebar" data-scalar-x="5" data-scalar-y="30">
        <div data-depth="0.40" class="layer"><div id="sidedummybg"></div></div>
        <div data-depth="0.50" class="layer"><span id="sidedummy">S</span></div>
        <div data-depth="0.60" class="layer"><img src="../assets/memphis1.svg" class="img-responsive" id="sidebarmemphis"></div>
        <div data-depth="0.60" class="layer"><span id="sideheading">SCROLLS</span></div>
        <div data-depth="0.50" class="layer"><span id="sideheading2">2017</span></div>
      </div>
      <span id="closespan" class="glyphicon glyphicon-remove" onclick="closeNav()" aria-hidden="true"></span>

      <div id="sidebarcontent">
      <a id="sidelink" href="#home" onclick="closeNav()">HOME</a>
      <a id="sidelink" href="#about" onclick="closeNav()">ABOUT</a>
      <a id="sidelink" href="#topic" onclick="closeNav()">TOPICS</a>
      <a id="sidelink" href="#rules" onclick="closeNav()">RULES</a>
      <a id="sidelink" href="#contact" onclick="closeNav()">CONTACT</a>
      </div>
      <div class="wrapper">
        <div class="wave"></div>
      </div>
    </div>

<router-outlet></router-outlet>

</div>

