
<div class="container-fluid row" [ngsRevealSet]="{ reset:true}" [ngsInterval]="50" [ngsSelector]="'.reveal'">

<div class="alert alert-success dashalert reveal" role="alert" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> You have been signed in successfully!
</div>

  <div class="col-sm-6 col-xs-12">

 <div class="card reveal" id="scrollsteam ">
      <div id="teamcontent">
          <div id="teamdummybg" style="width: 100%;"></div>
          <span id="teamdummy">{{firstchar}}</span>
          <span id="teamheading">{{LoginResponse.teamname}}</span>
      </div>
  <div style="padding: 0 5% 5%;">
    <h3 class="text-center" style="margin: 0 auto;">Team Members</h3>
    <span class="text-center membernames" *ngFor="let member of LoginResponse | transformarray | slice:2">• {{LoginResponse[member]}}</span>
  </div>

    </div>

    <div class="card reveal" id="scrollsteam">
      <div id="teamcontent">
          <div id="teamdummybg" style="width: 100%;"></div>
          <span id="teamdummy">I</span>
          <span id="teamheading">IMPORTANT DATES</span>
      </div>
    <ul class="timeline ">
    <li>
        <div class="timeline-badge">
          <span class="glyphicon glyphicon glyphicon-certificate" style="color: black;" aria-hidden="true"></span>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Last Date for submission of synopsis</h4>
            </div>
            <div class="timeline-footer">
                <p class="text-right">6<sup>th</sup> October, Friday</p>
            </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
        <div class="timeline-badge">
          <span class="glyphicon glyphicon glyphicon-certificate" style="color: black;" aria-hidden="true"></span>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Notification of acceptance</h4>
            </div>
            <div class="timeline-footer">
                <p class="text-right">11<sup>th</sup> October, Wednesday</p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="timeline-badge">
          <span class="glyphicon glyphicon glyphicon-certificate" style="color: black;" aria-hidden="true"></span>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Submission of final paper</h4>
            </div>
            <div class="timeline-footer">
                <p class="text-right">21<sup>th</sup> October, Saturday</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge">
          <span class="glyphicon glyphicon glyphicon-certificate" style="color: black;" aria-hidden="true"></span>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Main event</h4>
            </div>
            <div class="timeline-footer">
                <p class="text-right">27<sup>th</sup> October, Friday</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
  </ul>
    </div>

  </div>

  <div class="col-sm-6 col-xs-12">
  
      <div id="parallaxdashboard" class="reveal">
        <div id="dashboarddummybg"></div>
        <span id="dashboarddummy">S</span>
        <span id="dashboardheading" class="glitch" data-text="SCROLLS">SCROLLS</span>
        <span id="dashboardheading2">DASHBOARD</span>
      </div>


  <div id="uploader" class="reveal">
  <div *ngIf="!showdropzone" id="alreadysynopsis" class="text-center">You have already uploaded the synopsis! An email will be sent on approval of Synopsis.</div>
  <dropzone *ngIf="showdropzone" [config]= "{ url: dropzoneurl }" (success)="triggermodal($event)" [message]="'Click or drag Synopsis PDF here to upload - Max Allowed Size (2MB) '" id="dropzone"></dropzone>
  </div>

  </div>
</div>

<div id="successupload" class="modal fade" role="dialog" #successupload>
  <div class="modal-dialog modal-lg" style="margin: 10% auto !important;">

    <!-- Modal content-->
    <div class="modal-content" id="modalcontent">
      <div class="modal-body">
      <div class="row" style="margin: 0;">
        <div class="col-md-6" id="modalside" style="background-color: #2ecc71;">

        <span id="modalheading" class="text-center">SUCCESS!</span>
        <img src="./assets/modalbg.svg" class="img-responsive" style="height: 85%; display: block; margin: 0 auto;">

        </div>
        <div class="col-md-6" id="modalform">
        <button type="button" class="close" data-dismiss="modal" style="color: #2ecc71; opacity: 1; text-shadow: none;">&times;</button>

        <h1 id="successmsg1">You have Successfully Uploaded your Synopsis!</h1>
        <h1 id="successmsg2">An email will be sent on approval of Synopsis.</h1>

        </div>
      </div>
        
      </div>

    </div>
  </div>
</div>